.header{
    padding: 20px 0;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
    column-gap: 20px;
    align-items: center;
    list-style-type: none;
}

.header__item{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
letter-spacing: 1.7px;
text-transform: uppercase;
color: #212A2F;
}